{% assign this_page = page.url %}

<div class="container">

  <div class="header clearfix">
    <nav>
      <ul class="nav nav-pills pull-right">
        {% assign activate = '' %}
        {% if page.url == '/index.html' %}
          {% assign activate = 'class="active"' %}
        {% endif %}
        <li role="presentation" {{ activate }}><a href="{{ site.url }}">Home</a></li>
        {% for page in site.pages %}
          {% if page.title %}
              {% assign activate = '' %}
            {% if this_page == page.url %}
              {% assign activate = 'class="active"' %}
            {% endif %}
            <li role="presentation" {{ activate }}><a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></li>
          {% endif %}
        {% endfor %}
      </ul>
    </nav>
    <h3 class="text-muted">{{ site.title }}</h3>
  </div>

